@use "../styles/variables" as *;

$border: 2px dashed $border-color-experience;
$column-gap: 7rem;
$row-gap: 3rem;

$outer-circle-size: 50px;
$inner-circle-size: 25px;
$circle-translate: translate(-50%, -50%);

@mixin outer-circle {
  content: "";
  position: absolute;
  z-index: 1;
  display: block;

  inline-size: $outer-circle-size;
  block-size: $outer-circle-size;

  background-color: $background-section;
  border-radius: 50%;
  border: $border;

  top: 50%;
  left: calc(-1 * ($column-gap/2));
  transform: $circle-translate;
}

@mixin inner-circle {
  content: "";
  position: absolute;
  z-index: 2;
  display: block;

  inline-size: $inner-circle-size;
  block-size: $inner-circle-size;

  border-radius: 50%;

  top: 50%;
  left: calc(-1 * ($column-gap/2));
  transform: $circle-translate;
}

.experience-container {
  background-color: $background-section;
}

.experience {
  padding-block: 5rem;

  h2 {
    text-align: center;
    color: $color-text-1;
    font-weight: 600;
    margin-block-start: 0;
  }

  .timeline {
    margin-inline: 0.5rem;
    position: relative;

    &::after {
      content: "";

      position: absolute;
      inset-inline-start: 50%;
      inset-block-start: $outer-circle-size;
      inset-block-end: 0;
      transform: translateX(-50%);

      border-left: $border;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: $column-gap;
      row-gap: $row-gap;

      .timeline-item {
        display: block;

        &.primary h5::after {
          background-color: $color-primary;
        }
        &.secondary h5::after {
          background-color: $color-secondary;
        }
        &.tertiary h5::after {
          background-color: $color-tertiary;
        }
      }

      .timeline-item.time {
        time {
          letter-spacing: 0.1em;
        }
      }

      .timeline-item.description {
        h5 {
          position: relative;

          &::before {
            @include outer-circle();
          }

          &::after {
            @include inner-circle();
          }
        }
      }

      .timeline-item.time:hover + .timeline-item.description h5,
      .timeline-item.description:hover h5 {
        &::before {
          animation: outer-circle-spin infinite 5s linear;
        }
      }
    }

    h5 {
      margin: 0;
      margin-block-end: 1rem;
      font-weight: 600;
    }

    p {
      margin: 0;
    }
  }
}

@media (max-width: $width-m) {
  $row-gap: 2rem;

  .experience {
    .timeline {
      margin-inline: 2rem;

      &::after {
        inset-inline-start: 0;
      }

      ul {
        margin-inline-start: calc($column-gap/2);
        grid-template-columns: 1fr;
        row-gap: $row-gap;

        .timeline-item.time {
          justify-self: start;
        }

        .timeline-item.time h5 {
          position: relative;
          &::before {
            @include outer-circle();
          }
          &::after {
            @include inner-circle();
          }
        }

        .timeline-item.description h5 {
          &::after {
            content: none;
          }
          &::before {
            content: none;
          }
        }

        .timeline-item.time:hover h5 {
          &::before {
            animation: outer-circle-spin infinite 5s linear;
          }
        }
      }
    }
  }
}

@media (max-width: $width-s) {
  .experience {
    .timeline {
      margin-inline: 2.5rem;
    }
  }
}

@keyframes outer-circle-spin {
  from {
    transform: $circle-translate rotate(0deg);
  }
  to {
    transform: $circle-translate rotate(360deg);
  }
}
