@use '../styles/variables' as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  inline-size: 100%;
  block-size: $header-height;

  display: flex;
  align-items: center;

  background-color: $background-section;

  transition: all 300ms ease-in-out;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: min(2vw, 1rem);

    .nav {
      .nav-list {
        margin: 0;
        padding: 0;
        list-style: none;

        display: flex;
        align-items: center;
        gap: min(4rem, 4vw);

        .list-item {
          line-height: 1;
        }
      }
    }

    .link-contact {
      font-size: 1.3rem;
      font-weight: 600;
    }

    .mobile-nav-toggle {
      display: none;
    }
  }
}

.scroll-down {
  .header {
    transform: translate3d(0, -100%, 0);
  }
}

.scroll-up {
  .header {
    box-shadow: 0 0 15px $header-shadow;
  }
}

@media screen and (max-width: $width-m) {
  .header {
    .container {
      .nav {
        height: calc(100vh - $header-height);
        width: 100%;

        position: fixed;
        top: $header-height;
        right: 0;

        background-color: $background-section;

        transform: translateX(100%);
        transition: transform 300ms ease-out;

        display: flex;
        justify-content: center;
        align-items: center;

        .nav-list {
          flex-direction: column;
          gap: 4rem;

          .list-item {
            .link-primary {
              font-size: 2rem;
            }
          }
        }
      }

      .link-contact {
        margin-inline-start: auto;
      }

      .mobile-nav-toggle {
        display: inline-flex;
      }
    }
  }

  .header.mobile-nav-visible {
    transform: none;

    .container {
      .nav {
        transform: translateX(0);
      }
    }
  }
}

@media (max-width: $width-s) {
    .header {
        .container {
            margin-inline: 1rem;

            .link-contact {
                font-size: 1rem;
            }
        }
    }
}
