@use "./variables" as *;

.container {
  width: 100%;
  margin-inline: auto;
}

@media (min-width: $width-s) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: $width-m) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: $width-l) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: $width-xl) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: $width-xxl) {
  .container {
    max-width: 1320px;
  }
}
