// colors
$color-text-1: #0D2E3E;
$color-text-2: #25373F; 

$color-primary: #286e6b;
$color-secondary: #ef6440;
$color-tertiary: #eebf48;

$background-section: #F8F7F1;

$border-color-experience: #546973;

// font-sizes
$font-size-h1: 7rem;
$font-size-h2: 5rem;
$font-size-h3: 3rem;
$font-size-h4: 2rem;
$font-size-h5: 1rem;
$font-size-h6: 1rem;
$font-size-p: 1rem;
