// colors
$color-text-1: #0D2E3E;
$color-text-2: #25373F; 

$color-primary: #286e6b;
$color-secondary: #ef6440;
$color-tertiary: #eebf48;
$color-quaternary: #1e6eb9;
$color-quinary: #db2c3a;

$background-section: #F8F7F1;

$border-color-1: #e0e0e0;
$border-color-experience: #3f5a65;

// font-sizes
$font-size-h1: 7rem;
$font-size-h2: 5rem;
$font-size-h3: 3.5rem;
$font-size-h4: 3rem;
$font-size-h5: 2rem;
$font-size-h6: 1rem;
$font-size-p: 1.3rem;

// widths
$width-s: 576px;
$width-m: 768px;
$width-l: 992px;
$width-xl: 1200px;
$width-xxl: 1400px;
