// colors
$color-text-1: #0d2e3e;
$color-text-2: #25373f;

$color-primary: #286e6b;
$color-secondary: #f2643f;
$color-tertiary: #f2c249;
$color-quaternary: #3778c2;
$color-quinary: #e64a45;

$background-section: #f8f7f1;

$border-color-1: #e0e0e0;
$border-color-experience: #3f5a65;

// font-sizes
$font-size-h1: 5.5rem;
$font-size-h2: 5rem;
$font-size-h3: 3.5rem;
$font-size-h4: 3rem;
$font-size-h5: 2rem;
$font-size-h6: 1rem;
$font-size-p: 1.3rem;
$font-size-link-primary: 1.3rem;

// widths
$width-s: 576px;
$width-m: 768px;
$width-l: 992px;
$width-xl: 1200px;
$width-xxl: 1400px;

$header-height: 100px;
$header-shadow: #00000033;
