@use './styles/index';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding-block-start: index.$header-height;

  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.link {
  display: inline-block;

  border-bottom: 1px solid index.$color-secondary;

  color: index.$color-secondary;
  font-weight: 600;
  text-decoration: none;
  line-height: 1;
}

.link-primary {
  outline: 0;
  border-bottom: 1px solid transparent;

  display: inline-block;
  text-decoration: none;
  color: index.$color-text-2;
  line-height: 1;

  &:hover, &:active, &:focus {
    border-bottom: 1px solid index.$color-primary;
    color: index.$color-primary;
  }
}

.fab {
  inline-size: 4rem;
  block-size: 4rem;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  border: 2px solid index.$border-color-1;
  border-radius: 50%;
  padding: 0;
  color: index.$color-primary;
  background: white;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  &:hover,
  &:focus {
    background: index.$color-primary;
    color: white;
  }
}
